@font-face {
    font-family: "faune";
    src: url(woff2/Faune-Text_Regular.woff2);
}
@font-face {
    font-family: "marc-bold";
    src: url(marc/Marc-Bold.otf);
}
@font-face {
    font-family: "marc-italic";
    src: url(marc/Marc-Italic.otf);
}
@font-face {
    font-family: "faune-bolditalic";
    src: url(woff2/Faune-Display_Bold_Italic.woff2);
}
@font-face {
    font-family: "faune-black";
    src: url(woff2/Faune-Display_Black.woff2);
}

body{
    font-family: "faune", arial;
    width: 100%;
    overflow: visible;
    margin: 0px;
    background: #000;
    color: white;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1{
    text-align: center;
    font-size: 60px;
}

.texteblanc{
    font-family: "faune-black";
    color: white;
    text-shadow: 5px 5px 10px black;
    /* color: black;
    text-shadow: 5px 5px 10px white; */
    padding: 0px;
}

.imageseule img{
    object-fit: cover;
    width:100%;
    height:100%;
    justify-content: center;
}

.imageseule{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
    margin: 20px;
    /* justify-content: last baseline; */
}


@media (min-width: 1024px) {
    .imageseule{
        position: sticky;
        grid-template-columns: repeat(2, auto);
    }
}


h2{
    font-family: "marc-bold";
    opacity: 50%;
    /* color: darkcyan; */
}

.fond{
    width: 150px;
    height: auto;
    position: absolute;
    left: 10px; /* x-coordinate */
    top: 50px;   /* y-coordinate */
    z-index: -1;
}

.fond2{
    width: 200px;
    height: auto;
    position: absolute;
    right: 10px; /* x-coordinate */
    top: 125px;   /* y-coordinate */
    z-index: -1;
}

.nom{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0px;
    grid-template-rows: repeat(2, 50px);
}

.fleche{
    width: 200px;
    height: auto;
    position: absolute;
    right: 10px; /* x-coordinate */
    top: 125px;   /* y-coordinate */
}

.fleche:hover{
    opacity: 0.5;
    transition: all 0.5S;
}

.a-i{
    font-family: "marc-italic";}
.u-e-h{
    font-family: "faune-bolditalic";}
.p-k{
    font-family: "marc-bold";}
.c-n{
    font-family: "faune-black";
    font-size: 65px;
}
.a-i:hover{
    /* color: darkcyan; */
    opacity: 0.5;
}
.c-n:hover{
    /* color: darkcyan; */
    opacity: 0.5;
}
.u-e-h:hover{
    /* color: darkcyan; */
    opacity: 0.5;
}
.p-k:hover{
    /* color: darkcyan; */
    opacity: 0.5;
}

.menu2{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 10px black;
    text-decoration: none;
    font-size: 12px;
    background-color: none;
    border-radius: 20px;
    align-items: baseline;
    text-align: center;
}

.menu2:hover{
    background: rgba(83, 83, 83, 0.684);
    transition: all 0.5s;
    padding: 10px;
}

.menu{
    /* margin: -20px; */
    margin-top: 120vh;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    transition: all 0.5s;
}

.menu3{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    position: sticky;
    gap: none;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    transition: all 0.5s;
}

.menu > :first-child{
    margin: 10px;
    margin-left: 20px;
    justify-self: start;
}
.menu > :not(:first-child){
    margin: 10px;
    margin-right: 20px;
    justify-self: end;
}

.menu3 > :first-child{
    margin: 10px;
    margin-left: 20px;
    justify-self: start;
}
.menu3 > :not(:first-child){
    margin: 10px;
    margin-right: 20px;
    justify-self: end;
}

@media (min-width:372){
    .menu2{
        font-size: 15px;
    }
}

@media (min-width:768px){
    .menu2{
        font-size: 18px;
    }
}

@media (min-width:1024px){
    .menu2{
        font-size: 21px;
    }
}

@media (min-width:1440px){

}

.intro{
    margin: 20px;
}

.pr{
    margin: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* grid-auto-rows: 449px; */
    justify-content: center;
    gap: 40px;
    }

.grid img{
    object-fit: cover;
    width:100%;
    height:100%;
}

@media (min-width:768px){
    .grid{
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width:1024px){
    .grid{
        grid-template-columns: repeat(3, auto);
    }
}

@media (min-width:1440px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}


.item{
    display: grid;
    place-items: center;
    text-align: center;
    /* background: darkcyan; */
    /* background: rgba(53, 53, 53, 0.71); */
    /* border-radius: 20px; */
    text-decoration: none;
    font-family: "faune-black";
    font-size: 22px;
    color: white;
}

.item p, .item img{
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.item p{
    opacity: 0;
}

.item:hover p{
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999;
}

.item:hover img{
    opacity: 0.5;
    transition: all 0.5s ease;
}

.coll-bg{
    background-image: url('images/collection/coll-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 10vh;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.fullscreen-image {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.thumbnail{
    cursor: pointer;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1001;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.grid-projets{
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* grid-auto-rows: 449px; */
    justify-content: center;
    gap: 20px;
    margin: 20px;
    }

.grid-projets img{
    object-fit: cover;
    width:100%;
    height:100%;
}

@media (min-width:768px){
    .grid-projets{
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width:1024px){
    .grid-projets{
        grid-template-columns: repeat(3, auto);
    }
}

@media (min-width:1440px){
    .grid-projets{
        grid-template-columns: repeat(4, 1fr);
    }
}


footer{
    font-size: 12px;
    text-align: center;
}

@media (min-width: 768px) {
    h1{
        font-size: 110px;}
    .c-n{
        font-size: 115px;}
    .nom{
        row-gap:50px;
    }
    .menu{
        font-size: 17px;}
    .fond{
        width: 200px;}
    .fond2{
        width: 250px;
        right: 20px;
        top: 225px;}
    .fleche{
        width: 250px;
        right: 20px;
        top: 225px;
    }

    .image{
        height: 450px;
    }
}

@media (min-width: 1024px) {
    h1{
        font-size: 160px;}
    .texteblanc{
        font-size: 110px;
    }
    .c-n{
        font-size: 175px;}
    .nom{
        row-gap: 100px;}
    .menu{
        font-size: 20px;}
    .fond{
        width: 250px;}
    .fond2{
        width: 300px;
        right: 20px;
        top: 340px;}
    .fleche{
        width: 300px;
        right: 20px;
        top: 340px;}

    .image{
        height: 450px;
    }
}

@media (min-width: 1440px) {
    h1{
        font-size: 250px;}
    .texteblanc{
        font-size: 110px;
    }
    .c-n{
        font-size: 290px;}
    .nom{
        row-gap: 200px;}
    .menu{
        font-size: 23px;}
    .fond{
        width: 400px;
        top: 100px;}
    .fond2{
        width: 300px;
        right: 20px;
        top: 540px;}
    .fleche{
        width: 300px;
        right: 20px;
        top: 540px;}

    .image{
        height: 450px;
    }
}

html{
    scroll-behavior: smooth;
}
